/* Background */

body {
  background:#000;
}
.cu-page-top {
  background-color: #fff;
}


/* Images */
img {
  display: block;
  width:100%;
  max-width: 100%;
  height: auto;
}

/* Branding */

.cu-branding {
  padding: 20px 0;
}

/* Main Navigation */
.navbar-nav a {
  font-weight: bold;
}
/* Sub Navigation */

ul.cu-nav-sub,
ul.cu-nav-sub li,
ul.cu-nav-sub li ul {
  margin:0;
  padding:0;
  list-style: none;
  list-style-image: none;
}
ul.cu-nav-sub {
  background-color: #f7f7f7;
  border-radius: 4px;
  margin-bottom: 20px;
  overflow: hidden
}
ul.cu-nav-sub a {
  display: block;
  padding:10px 10px;
}
ul.cu-nav-sub a:hover {
  background-color: #666;
  color:#fff;
}
ul.cu-nav-sub ul a {
  padding-left:20px;
}
ul.cu-nav-sub ul ul a {
  padding-left:30px;
}
ul.cu-nav-sub ul ul ul a {
  padding-left:40px;
}
ul.cu-nav-sub ul ul ul ul a {
  padding-left:50px;
}
ul.cu-nav-sub ul ul ul ul ul a {
  padding-left:60px;
}
ul.cu-nav-sub ul {
  font-size:85%;
  background-color: #e7e7e7;
}
ul.cu-nav-sub ul ul {
  font-size: 100%;
}
ul.cu-nav-sub li.active > a {
  background-color:#333;
  color:#fff;
}

/* Footer */

.cu-footer {
  background:#000;
  color:#fff;
  padding:20px 0;
}
.cu-footer a {
  color:#cfb87c;
}
.cu-footer a:hover {
  color:#fff;
}
.cu-campus-info img {
  margin-bottom: 20px;
}
.cu-footer .cu-campus-info {
  font-size: 75%;
}
.cu-footer .cu-contact-info,
.cu-footer .cu-campus-info {
  margin-bottom: 20px;
}
.cu-footer .cu-campus-info img {
  max-width:240px;
}

/* Below Content */

.cu-below-content {
  background-color: #f7f7f7;
  padding: 20px 0;
}

/* Jumbotron */
.cu-jumbotron-inverse {
  background: #000;
  color:#fff;
}
.cu-jumbotron-photo {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cu-jumbotron-center {
  text-align: center;
}

/* Images */

.cu-thumbnail {
  width:100px;
  height: auto;
}
.cu-thumbnail-float-left {
  float:left;
  margin:0 20px 20px 0;
}
.cu-thumbnail-float-right {
  float:right;
  margin:0 0 20px 20px;
}
.cu-image-pad-left {
  margin-left: 20px;
}
.cu-img-pad-right {
  margin-right:20px;
}
.cu-xs-float-right {
  float:right;
  margin:0 0 20px 20px;
}
.cu-xs-float-left {
  float:left;
  margin: 0 20px 20px 0;
}
.cu-img-xs-12 {
  width: 100%;
}
.cu-img-xs-11 {
  width: 91.66666667%;
}
.cu-img-xs-10 {
  width: 83.33333333%;
}
.cu-img-xs-9 {
  width: 75%;
}
.cu-img-xs-8 {
  width: 66.66666667%;
}
.cu-img-xs-7 {
  width: 58.33333333%;
}
.cu-img-xs-6 {
  width: 50%;
}
.cu-img-xs-5 {
  width: 41.66666667%;
}
.cu-img-xs-4 {
  width: 33.33333333%;
}
.cu-img-xs-3 {
  width: 25%;
}
.cu-img-xs-2 {
  width: 16.66666667%;
}
.cu-img-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .cu-sm-float-right {
    float:right;
    margin:0 0 20px 20px;
  }
  .cu-sm-float-left {
    float:left;
    margin: 0 20px 20px 0;
  }
  .cu-img-sm-12 {
    width: 100%;
  }
  .cu-img-sm-11 {
    width: 91.66666667%;
  }
  .cu-img-sm-10 {
    width: 83.33333333%;
  }
  .cu-img-sm-9 {
    width: 75%;
  }
  .cu-img-sm-8 {
    width: 66.66666667%;
  }
  .cu-img-sm-7 {
    width: 58.33333333%;
  }
  .cu-img-sm-6 {
    width: 50%;
  }
  .cu-img-sm-5 {
    width: 41.66666667%;
  }
  .cu-img-sm-4 {
    width: 33.33333333%;
  }
  .cu-img-sm-3 {
    width: 25%;
  }
  .cu-img-sm-2 {
    width: 16.66666667%;
  }
  .cu-img-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .cu-md-float-right {
    float:right;
    margin:0 0 20px 20px;
  }
  .cu-md-float-left {
    float:left;
    margin: 0 20px 20px 0;
  }
  .cu-img-md-12 {
    width: 100%;
  }
  .cu-img-md-11 {
    width: 91.66666667%;
  }
  .cu-img-md-10 {
    width: 83.33333333%;
  }
  .cu-img-md-9 {
    width: 75%;
  }
  .cu-img-md-8 {
    width: 66.66666667%;
  }
  .cu-img-md-7 {
    width: 58.33333333%;
  }
  .cu-img-md-6 {
    width: 50%;
  }
  .cu-img-md-5 {
    width: 41.66666667%;
  }
  .cu-img-md-4 {
    width: 33.33333333%;
  }
  .cu-img-md-3 {
    width: 25%;
  }
  .cu-img-md-2 {
    width: 16.66666667%;
  }
  .cu-img-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .cu-lg-float-right {
    float:right;
    margin:0 0 20px 20px;
  }
  .cu-lg-float-left {
    float:left;
    margin: 0 20px 20px 0;
  }
  .cu-img-lg-12 {
    width: 100%;
  }
  .cu-img-lg-11 {
    width: 91.66666667%;
  }
  .cu-img-lg-10 {
    width: 83.33333333%;
  }
  .cu-img-lg-9 {
    width: 75%;
  }
  .cu-img-lg-8 {
    width: 66.66666667%;
  }
  .cu-img-lg-7 {
    width: 58.33333333%;
  }
  .cu-img-lg-6 {
    width: 50%;
  }
  .cu-img-lg-5 {
    width: 41.66666667%;
  }
  .cu-img-lg-4 {
    width: 33.33333333%;
  }
  .cu-img-lg-3 {
    width: 25%;
  }
  .cu-img-lg-2 {
    width: 16.66666667%;
  }
  .cu-img-lg-1 {
    width: 8.33333333%;
  }
}

/* Content List */

.cu-content-list-item {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}
.cu-content-list-content {
  overflow: hidden;
}
.cu-content-list-item h2 {
  margin-top: 0;
  font-size: 150%;
}

/* Padding Helpers */
.cu-padding {
  padding: 20px;
}
.cu-padding-top {
  padding-top: 20px;
}
.cu-padding-left {
  padding-left: 20px;
}
.cu-padding-right {
  padding-right: 20px;
}
.cu-padding-bottom {
  padding-bottom: 20px;
}

/* Search */
.cu-search-form {
  padding-top:10px;
}
.cu-search-form .search-input {
  background-image:url(../images/search.png);
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 25px;
}

/* Typography */

h1 small, 
h2 small, 
h3 small,
h4 small,
h5 small, 
h6 small {
  font-weight: bold;
}